<img class="border img-size" src=<%= user.photo %> alt="<%= user.name %>'s photo" title="<%= user.name %>'s photo" width="150" height="150">
<div class="border user-info">
  <h2 class="user-name"><%= user.name %></h2>
  <h3 class="num-post">Number of posts: <%= user.posts_counter %></h3>
</div>