<div class="user-cont">
  <%= render @user %>
</div>
<main class="main-cont">
  <section class="border bio-cont stretch" id="bio-<% @user.id %>">
    <h4 class="bio-title">Bio</h4>
    <p><%= @user.bio %></p>
  </section>
  <ul class="stretch">
    <% @user.recent_posts.each do |post| %>
      <%= link_to user_post_path(@user.id, post.id), class: "user-link" do %>
        <li class="border bio-cont"><%= render post %></li> <%# "render "posts/post", post: post" is a longer way %>
      <% end %>
    <% end %>
  </ul>
  <%= link_to user_posts_path(@user.id) do %>
    <button class="btn" type="button">See all posts</button>
  <% end %>
</main>