<div class="user-cont">
  <%= render @user %>
</div>
<main class="main-cont">
  <ul class="stretch">
    <% @user.posts.includes(comments: [:author]).each do |post| %>
      <li class="post-com-cont">
        <%= link_to user_post_path(@user.id, post.id), class: "user-link" do %>
          <div class="border post-pad"><%= render post %></div> <%# "render "posts/post", post: post" is a longer way %>
        <% end %>

        <ul class="<%= 'border post-pad' if post.comments.length != 0 %>">
          <% post.recent_comments.each do |comment| %>
            <li class="btn-cont">
              <%= comment.author.name %>: <%= comment.text %>
              <% if can? :destroy, comment %>
                <%= button_to "Delete", user_post_comment_path(@user, post, comment), method: :delete, class: "btn" %>
              <% end %>
            </li> <%# "render "comments/comment", comment: comment" is a longer way %>
          <% end %>
        </ul>
      </li>
    <% end %>     
  </ul>
  <button class="btn" type="button">Pagination</button>
</main>