<section class="border post-pad" id="post-<% @post.id %>">
  <%= render @post %>  
</section>
<ul class="<%= 'border post-pad' if @post.comments.length != 0 %>">
  <% @post.comments.includes(:author).each do |comment| %>
    <li class="btn-cont">
      <%= comment.author.name %>: <%= comment.text %>
      <% if can? :destroy, comment %>
        <%= button_to "Delete", user_post_comment_path(@user, @post, comment), method: :delete, class: "btn" %>
      <% end %>
    </li> <%# "render "comments/comment", comment: comment" is a longer way %>
  <% end %>
</ul>
<%= render 'comments/form' %>
