<section id="post-<% @post.id %>">
  <h4><%= @post.title %> by <%= @post.author.name %></h4>
  <p>
    <span>Comments: <%= @post.comments_counter || 0 %>, </span>
    <span>Likes: <%= @post.likes_counter || 0 %></span>
  </p>
  <p><%= @post.text %></p>
</section>
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.author.name %>: <%= comment.text %></li> <%# "render "comments/comment", comment: comment" is a longer way %>
  <% end %>
</ul>